.carousel-container {
    width: 90%;
    overflow: hidden;
    margin: auto;
    position: relative;
  }
  
  .carousel .slide {
    background: none;
  }
  
  .carousel .legend {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 1em;
    padding: 10px;
    bottom: 0;
  }

  .carousel-image {
    max-width: 100%;
    height: 400px;
    object-fit: cover;
  }
  
  .carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .carousel-arrow-left {
    left: 0;
  }
  
  .carousel-arrow-right {
    right: 0;
  }